     <div class="sidebar1">
         
              <img src="assets/unnamed.png" class="img-responsive center" style="margin-left:20px;" alt="Logo">
          <br>
          <div class="left-navigation">
              <ul class="list">
                  <h5><strong>Métodos Numericos</strong></h5>
                  <li>Inicio</li>
                  <li>Cambio de Base</li>
              </ul> 
              <br>

              <ul class="list">
              
                  <h5 style="margin-left:-30px"><strong>Alejandro Pareja</strong></h5>
                 
              </ul>
          </div>
