.sidebar1 {
    background: #ecf0f1;
    /* For browsers that do not support gradients */
   
    /* Standard syntax */
    padding: 20px;
    min-height:  100vh;
    height: 100%;
}
.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
.list {
    color: #7f8c8d;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color:#e74c3c;
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color:#e74c3c;
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
text-align:center;
}