
<div class="col-sm-6 col-md-6  col-md-offset-6  col-sm-offset-6">
<div id="calculator" style="margin-left:100px">
	<!-- Parte de arriba de la calculadora -->
	
	<div class="top">
		<span class="clear" (click)="borrar()">C</span>
		<div class="screen" >{{numero}}</div> <!-- Se muestra el numero ingresado -->
	</div>
	<!-- Resultados de las operaciones -->
	<div *ngIf="valores"> <!-- Ngif se refiere a que solo se muestra si la variable indicada, en este
		caso valores no está vacía -->
	<hr>
	<p>Hexadecimal: {{valores.hexadecimal}}</p>
	<p>Decimal: {{valores.decimal}}</p>
	<p>Binario: {{valores.binario}}</p>
	<p>Octal: {{valores.octal}}</p>
	<hr>
</div>
	<div class="keys">
		<!-- Espacio para los botones -->
		<span (click)="capturarValor(10)" [class.inactivo]="10>=active">A</span>
		<span (click)="capturarValor(11)" [class.inactivo]="11>=active">B</span>
		<span (click)="capturarValor(7)" [class.inactivo]="7>=active">7</span>
		<span (click)="capturarValor(8)" [class.inactivo]="8>=active">8</span>
		<span (click)="capturarValor(9)" [class.inactivo]="9>=active">9</span>
		<span class="operator" (click)="seleccionarBase(2)"[class.selected]="active === 2">BIN</span>
		<span (click)="capturarValor(12)" [class.inactivo]="12>=active">C</span>
		<span (click)="capturarValor(13)" [class.inactivo]="13>=active">D</span>
		<span (click)="capturarValor(4)" [class.inactivo]="4>=active">4</span>
		<span (click)="capturarValor(5)" [class.inactivo]="5>=active">5</span>
		<span (click)="capturarValor(6)"[class.inactivo]="6>=active">6</span>
		<span class="operator" (click)="seleccionarBase(8)"[class.selected]="active === 8 ">OCT</span>
		<span (click)="capturarValor(14)" [class.inactivo]="14>=active">E </span>
		<span (click)="capturarValor(15)"[class.inactivo]="15>=active">F </span>
		<span (click)="capturarValor(1)"[class.inactivo]="1>=active">1 </span>
		<span (click)="capturarValor(2)"[class.inactivo]="2>=active">2 </span>
		<span (click)="capturarValor(3)"[class.inactivo]="3>=active">3 </span>
		<span class="operator" (click)="seleccionarBase(10)" [class.selected]="active === 10 ">DEC </span>
		<div class="last">
		<span (click)="capturarValor(0)" [class.inactivo]="0>=active">0 </span>
		<span>. </span>
		<span class="eval">= </span>
		<span class="operator"  (click)="seleccionarBase(16)" [class.selected]="active === 16 ">HEX </span>
	</div>	
</div></div></div>

			